RewriteEngine On
RewriteBase /newproject/
Options All -Indexes
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-s [OR]
RewriteCond %{REQUEST_FILENAME} !-l [OR]
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^resource/(.*)$ resource/$1 [L]
RewriteRule ^.*$ [NC,L]
RewriteRule ^.*$ /newproject/index.php [NC,L]
