@font-face {
    font-family: 'vegurlight';
    src: url('../fonts/vegur-light-webfont.woff2') format('woff2'),
         url('../fonts/vegur-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TTDrugs-Thin';
    src: url('../fonts/TTDrugs-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1, p, div, a {
    margin: 0;
    /*border: 1px solid white;*/
}
html {
    min-height: 100%;
}
body{
	padding: 0;
    margin: 0;
    height: 100%;
    font-family: Helvetica;
    font-family: 'TTDrugs-Thin';
    background-color: #000;
    background: url('../images/IMG_4039.JPG');
    /*background: filter(url('../images/IMG_4039.JPG'), blur(5px));*/
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 60px;
    min-width: 1000px;
    text-align: center;
    color: #fff;
}
p {
    text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;
}
#logo {
    font-family: 'vegurlight';
    font-size: 140%;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #fff;
}
#main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 70%;
    min-width: 1000px;
}
a{
    color: #fff;
    text-decoration: none;
}
.info, a {
    font-size: 50%;
}
.info {
    margin-bottom: 30px;
}
.info1 {
    margin-top: 50px;
}
.info1, .info2 {
    font-size: 80%;
}
.info3 {
    margin-top: 50px;
    font-size: 60%;
}
.buttons {
    width: 70%;
    min-width: 1000px;
    padding: 0;
    text-align: left;
    overflow: auto;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    bottom: 150px;
}
.button {
    text-align: center;
    display: block;
    float: left;
    width: 49.3%;
    margin: 0;
    color: #fff;
    text-decoration: none;
    background-color: #4d7cb3;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 50%;
    border-radius: 9px;
    transition-property: background-color;
    transition-duration: .3s;
}
.button:hover {
    background-color: #76a6de;
    transition-property: background-color;
    transition-duration: .3s;
}
.button1 {
    margin-right: 0.5%;
}
.button2 {
    margin-left: 0.5%;
}
.footer {
    /*background-color: rgba(0, 0, 0, 0.8);*/
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 900px;
}
.fbuttons {
    width: 39.8%;
    margin-left: auto;
    margin-right: auto;
    min-width: 758px;
}
.fbutton1 {
    width: 226px;
}
.fbutton2 {
    width: 219px;
}
.fbutton3 {
    width: 145px;
}
.fbutton {
    display: block;
    text-align: left;
    float: left;
    margin-top: 4%;
    margin-bottom: 4%;
    transition-property: color;
    transition-duration: .2s;
}
.fbutton:hover {
    color: #bababa;
    transition-property: color;
    transition-duration: .2s;
}
.fbutton2, .fbutton3 {
    margin-left: 11%;
}